<h1>Create Task</h1>

<form action="/save-task" method="POST">

    <div class="form-control">
        <label for="title">Title</label>
        <input  type="text" name="title" placeholder="What are you going to do?"/>
    </div>

    <div class="form-control">
        <label for="description">Description</label>
        <textarea rows="4" name="description" placeholder="Describe the task..."></textarea>
    </div>

    <input type="submit" value="Register">

</form>